.dashboard {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: white;
  width: 80%;
  position: relative;
  top: -535px;
  left: 220px;
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.chart-box {
  flex: 1 1 45%;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chart-box h3 {
  text-align: center;
  margin-bottom: 1rem;
}